.title {
  background-color: dodgerblue;
  padding: .6rem 0 .6rem 1rem;
  color: white;
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}

.container {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.container > * {
  text-align: center;
}

.dashed-box {
  border-style: dashed;
  border-radius: 4px;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  color: gray;
}

.dashed-box a {
  color: dodgerblue;
  font-size: 13px;
  margin-bottom: 8px;
}

.please-skip {
  font-size: 13px;
  color: gray;
}

.brand {
  color: dodgerblue;
  margin: 0;
}